html{
  background-color: #e3e3e3;
}

h1{
  color: #9c1414;
}



table,tr,th,td {
  background-color: #ffeded;
  border: 2px solid #9c1414;
  border-collapse: collapse;
  border-style: solid;
  border-radius: 2px;
  text-align: center;
  padding: 3px;
}

th{
  background-color: white;
  padding: 5px;
}

nav{
  width: inherit;
  background-color: white;
  padding: 3px;
  border-radius: 10px;
  border-color: #9c1414;
  border-style: solid;
  border-width: 2px;
}

.dropbtn {
  border-radius: 10px;
  background-color: #9c1414;
  color: white;
  padding: 9px;
  margin: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #630c0c;
}

.container-login {
  margin: auto;
  width: 30%;
  padding: 10px;
  text-align: center;
  border: 3px solid #630c0c;
}

.logout {
  border-radius: 10px;
  background-color: #9c1414;
  color: white;
  padding: 9px;
  margin: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  float: right;
}